<!DOCTYPE html>
<html>
	<head>
		<title>About Me</title>
	</head>
	<body>
		<h1>Paul Kim</h1>
		
		<a href="../index.html">The Whole Team</a> <a href="About.html">About Paul</a>

		<figure>
			<img src="../images/usher.png" width="50%" height="50%" alt="Paul's Usher choreography">
			<figcaption>Usher-Bad Girl</figcaption>
		</figure>
		<figure>
			<img src="../images/snappin.jpg" width="20%" height="20%" alt="Snapping fingers during performance">
			<figcaption>Spring Cafe Performance 2017</figcaption>
		</figure>
		<figure>
			<img src="../images/50cent.png" width="20%" height="20%" alt="Paul's 50 cent choreography">
			<figcaption>50 Cent-Disco Inferno</figcaption>
		</figure>
		<figure>
			<img src="../images/burgerlodge.png" width="50%" height="50%" alt="Paul dancing off the Irish step dancing team for free food">
			<figcaption>FREE FOOD</figcaption>
		</figure>
		<figure>
			<img src="../images/guitar.jpg" width="20%" height="20%" alt="Paul likes other music related things as well such as guitar">
			<figcaption>Other Hobbies</figcaption>
		</figure>

	</body>
</html>